.input_edit {
	width: 320px;
	background-color: transparent !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 0 !important;
	color: #4F4F4F !important;
	height: 28px;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 18px !important;
	box-shadow: 0px 0px 0px #1C1C1C !important;
	font-family: 'Chau Philomene One', sans-serif;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-color: #4F4F4F !important;
	margin-right: 25px !important;
}

.label_edit {
	font-size: 18px !important;
}

.panel_button {
	text-align: right !important;
	background: none !important;
	border: 0 !important;
}

.panel_button .ui-panel-content.ui-widget-content {
	padding: 0px;
	margin: 0px;
}