.contenedor {
	display: table;
	margin: 0 auto;
}

.contenidos {
	display: table-row;
}

.columna {
	display: table-cell;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.title {
	font-weight: bold;
}

.title_lable {
	font-weight: bold;
	font-size: 13px;
}

.table_info_map td, .table_info_map th {
	border-bottom: 1px solid #a8a8a8;
}

.table_info_map_into td, .table_info_map_into th {
	border-bottom: 0px solid #a8a8a8;
}