label {
	padding-right: 10px;
}

.column_service {
	font-size: 14px !important;
}

.column_contact {
	font-size: 15px !important;
}

.table_info_map {
	font-size: 13px;
}

.filter_input_servies {
	width: 80px !important;
	height: 15px !important;
	font-size: 13px !important;
}