.panel_contacto {
	margin: 0;
	position: absolute;
	margin-top: -470px;
	margin-left: 20px;
}

.panel_sap {
	margin: 0;
	position: absolute;
	margin-top: -540px;
	margin-left: 193px;
	background-color: transparent;
	border: none;
	margin-left: 193px;
}

.img_sap {
	border: 1px solid #C80404;
}

.title_region {
	font-weight: bold;
	font-size: 24px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	padding-left: 20px;
}